<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CookieBenders</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CookieBenders</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#menu">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#custom_order">Custom Order</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% if form_error %}
    <div class="alert alert-danger fade in bot-page-alert" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Submitted Order Form had Errors. Please re-enter and re-submit.
    </div>
    {% endif %}

    {% if active_order %}
    <div class="alert alert-success fade in bot-page-alert" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <span id="countdown">Calculating...</span>
    </div>
    {% endif %}
    

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fresh. Warm. Delicious.</h1>
                <!-- <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
                <br>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Some Cookies</a>
            </div>
        </div>
    </header>


    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get warm, freshly baked chocolate chip cookies delivered to you in 15 minutes</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn i-laptop"></i>
                        <h3>Order Online</h3>
                        <p class="text-muted">Select a package from the menu below to get started.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bicycle wow bounceIn i-bike" data-wow-delay=".1s"></i>
                        <h3>Fast Delivery</h3>
                        <p class="text-muted">Receive your cookies within our 15 min delivery guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money wow bounceIn i-money" data-wow-delay=".2s"></i>
                        <h3>Flexible Payment</h3>
                        <p class="text-muted">Choose to pay using cash upon delivery, or with Venmo. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn i-heart" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Enjoy the cookies warm, fresh, and full of love.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="menu">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box" id="3c0m">
                        <img src="{% static "img/portfolio/3cookies.jpg"%}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Three Chocolate Chip Cookies
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box" id="6c0m">
                        <img src="{% static "img/portfolio/6cookies.jpg"%}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Six Chocolate Chip Cookies
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box" id="12c0m">
                        <img src="{% static "img/portfolio/6cookies.jpg"%}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    One Dozen Chocolate Chip Cookies
                                </div>
                                <div class="project-category text-faded">
                                    $9.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box" id="3c1m">
                        <img src="{% static "img/portfolio/6cookiesplusmilk.jpg"%}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Three Chocolate Chip Cookies<br> Plus Milk
                                </div>
                                <div class="project-category text-faded">
                                    $4.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/test" class="portfolio-box" id="6c1m">
                        <img src=" {% static "img/portfolio/6cookiesplusmilk1.jpg" %}"class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Six Chocolate Chip Cookies<br> Plus Milk
                                </div>
                                <div class="project-category text-faded">
                                    $6.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box" id="12c1m">
                        <img src=" {% static "img/portfolio/6cookiesplusmilk.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    One Dozen Chocolate Chip Cookies<br> Plus Milk
                                </div>
                                <div class="project-category text-faded">
                                    $10.00
                                </div>
                                <div class="click-now">
                                    Click to Order Now!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="custom_order">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="text-uppercase"><strong>Custom Order</strong></h3>
                    <p> Can't find a package that works for you? Fill out the form below to create a custom order. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="boxed-form round-edge">
                        <form id="sale_form1" method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-5"> <!-- Cookies, Milk | Location | Payment option -->
                                    <div class="row">
                                            <div class="form-group col-xs-6">
                                                <label for="name">Cookies </label>
                                                <input class="form-control" id="id_num_cookies" name="num_cookies" type="number" max="24" min="3" value="3">
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="name">Milk </label>
                                                <input class="form-control" id="id_num_milk" name="num_milk" type="number" max="3" min="0" value="0"> 
                                            </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="name">Deliver to </label>
                                            <input class="form-control" id="id_location" maxlength="128" name="location" 
                                            placeholder="Hallway and Room # " type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Payment Method</label>
                                            <ul id="payment_meth_radio">
                                            <li>
                                                <label for="payment_meth_radio_0">
                                                <input id="payment_meth_radio_0" name="payment_meth" type="radio" value="C" required> Cash</label>
                                            </li>
                                            <li>
                                                <label for="payment_meth_radio_1">
                                                <input id="payment_meth_radio_1" name="payment_meth" type="radio" value="O"> Online</label>
                                            </li>
                                            </ul>
                                        </div>
                                </div>
                                <div class="col-sm-7"> <!-- Name Number | Special Request-->
                                    <div class="row">
                                            <div class="form-group col-sm-6 col-xs-12">
                                                <label for="name">Contact Info</label>
                                                <input id="id_name" class="form-control" maxlength="128" name="name" placeholder="Name" type="text" required>
                                            </div>
                                            <div class="form-group col-sm-6 col-xs-12 form-pad-top">
                                                
                                                <input id="id_phone" class="form-control" maxlength="16" name="phone" placeholder="Number" type="text" required>
                                            </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Special Requests</label>
                                        <textarea id="id_special_req" class="form-control" maxlength="5000" name="special_req" placeholder="Optional"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success pull-right" id="submit_custom_order">Place Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="bg-dark" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <ul class="list-inline footer-links-list">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                    </ul>
                    <p class="footer-copyright">2015 © CookieBenders</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js"%}"></script>

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootbox.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js"%}"></script>
    <script src="{% static "js/jquery.fittext.js"%}"></script>
    <script src="{% static "js/wow.min.js"%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js"%}"></script>

    <script>

    function padInt(i) {
        if (i < 10) return '0' + i.toString();
        else return i.toString();
    };
        {% if active_order %}
            console.log("{{ time_deliv }}");
            var endtime = new Date("{{ time_deliv.isoformat }}");
            console.log(endtime);
            var min, sec;
            var countdown = document.getElementById("countdown");
            setInterval(function() {
                var curtime = new Date().getTime();
                var sec_left = (endtime - curtime) / 1000;

                if (sec_left < 0) sec_left = 0;

                min = parseInt(sec_left / 60);
                sec = parseInt(sec_left % 60);

                min = padInt(min);
                sec = padInt(sec);

                countdown.innerHTML = min + ":" + sec + " until your cookies arrive!";  
                if (sec_left == 0) countdown.innerHTML += " Thank you for your order. Hope your cookies are delicious.";

            }, 1000);
        {% endif %}

    $('.portfolio-box').click(function(e){
        e.preventDefault();
        var id = (e.currentTarget.id || e.srcEvent.id); // this may not work in IE!
        console.log("clicked a " + e.currentTarget.type + "id: " + id);
        var num_cookies = parseInt(id.split("c")[0]);
        var num_milk = parseInt(id.split("c")[1].split("m")[0]);
        console.log("cookies: " + num_cookies + " milk: " + num_milk);
        
        bootbox.dialog({
            title: "Your Order Confirmation",
            message: '<div class="row">'
                        +'<div class="col-xs-12">'
                            +'<div>' 
                                + '<p> Please review your order below and provide the remaining info for delivery before submitting it to our bakers.' 
                                + '</p>' 
                            + '</div>' 
                            + '<form id="sale_form2" method="POST" action="">'
                                + "{% csrf_token %}"
                                + '<input class="form-control" id="id_num_cookies" name="num_cookies" type="hidden" max="24" min="3" value="3">'
                                + '<input class="form-control" id="id_num_milk" name="num_milk" type="hidden" max="3" min="0" value="0">'
                                + '<div class="form-group popup-form col-sm-12">'
                                    + '<div class="row">'
                                        + '<div class="col-xs-6">'
                                            +'<label>Number of Cookies: <span class="display-size" id="num_cookie_display"></span></label> '
                                        + '</div>'
                                        + '<div class="col-xs-6">'
                                            +'<label>Number of Milk: <span class="display-size" id="num_milk_display"></span></label> '
                                        + '</div>'
                                    + '</div>'
                                + '</div>'
                                + '<div class="form-group popup-form col-sm-6">'
                                    + '<label for="name">Deliver to</label>'
                                    + '<input class="form-control" id="id_location" maxlength="128" name="location" placeholder="Hallway and Room # " type="text" required>'
                                + '</div>'
                                + '<div class="form-group popup-form col-sm-6">'
                                    + '<label for="name">Payment Method</label>'
                                    +  '<ul id="payment_meth_radio">'
                                        + '<li>'
                                            + '<label for="payment_meth_radio_0">'
                                            + '<input id="payment_meth_radio_0" name="payment_meth" type="radio" value="C" required> Cash</label>'
                                        + '</li>'
                                        + '<li>'
                                            + '<label for="payment_meth_radio_1">'
                                            + '<input id="payment_meth_radio_1" name="payment_meth" type="radio" value="O"> Online</label>'
                                        + '</li>'
                                    + '</ul>'
                                + '</div>'
                                + '<div class="form-group popup-form col-sm-12">'
                                    + '<div class="row">'
                                            +'<div class="form-group col-sm-6 col-xs-12">'
                                                +'<label for="name">Contact Info</label>'
                                                +'<input id="id_name" class="form-control" maxlength="128" name="name" placeholder="Name" type="text" required>'
                                            +'</div>'
                                            +'<div class="form-group popup-form col-sm-6 col-xs-12 form-pad-top">'
                                                +'<input id="id_phone" class="form-control" maxlength="16" name="phone" placeholder="Number" type="text" required>'
                                            +'</div>'
                                    + '</div>'
                                + '</div>'
                                + '<div class="form-group popup-form col-sm-7">'
                                    +'<label for="name">Special Requests</label>'
                                        +'<textarea id="id_special_req" class="form-control" maxlength="5000" name="special_req" placeholder="Optional"></textarea>'
                                +'</div>'
                                +'<div class="form-group popup-form col-sm-5">'
                                    +'<label>Summary</label>'
                                    +'<div class="inner-order-total">'
                                        +'<div>Shipping: <strong>FREE</strong> </div>'
                                        +'<div>Delivery: <span id="deliv_time_display">15</span> minutes'
                                        +'<div>Total Cost: <strong><span id="cost_total_display"></span><strong></div>'
                                    +'</div>'
                                + '</div>' 
                                + '<button type="submit" class="hide" id="submit_popup_order">Place Order</button>'
                            + '</form>'
                        + '</div>'
                    + '</div>',
            buttons: {
                success: {
                    label: "Place Order",
                    className: "btn-success",
                    callback: function(){
                        $('#submit_popup_order').click();
                        return false;

                    }
                }
            }
        })
        var testlol = document.getElementById("testlol");
        $('#num_cookie_display').html(num_cookies);
        $('#num_milk_display').html(num_milk);
        $.get('/get_cost/', {num_cookies: num_cookies, num_milk: num_milk}, function(cost){
            $('#cost_total_display').html('$' + cost);
        });

    });
    </script>

</body>

</html>
